@require color
@require screen

$popup__bg                ?= alpha(black, 50%)
$popup__offset_v          ?= 2rem
$popup__border-radius     ?= .25rem
$popup__padding_h         ?= 1.5rem
$popup__padding_v         ?= 1.5rem
$popup__title-font-size   ?= 1.5rem
$popup__window-bg         ?= $color_input
$popup__window-min-width  ?= $screen__max-width_mobile