@require input
@require root
@require screen

@require 'popup/popup'

@keyframes popup_showing
  popup__animation_showing()

@keyframes popup_hiding
  popup__animation_hiding()

.popup
  background $popup__bg
  display none
  position fixed  
  left 0
  right 0
  top 0
  bottom 0
  z-index $popup__z-index
  justify-content center
  align-items start  

  +screen__wider_mobile()
    padding $popup__offset_v $popup__offset_h
    overflow hidden auto

  &_visible
    display flex

  &_showing
    animation popup_showing $popup__duration_showing ease 0ms 1 normal running

  &_hiding
    animation popup_hiding $popup__duration_hiding ease 0ms 1 normal running

.popup__window
  display flex
  flex-flow column nowrap
  position fixed  
  left 0
  right 0
  top 0
  bottom 0
  max-width 100%

  +screen__wider_mobile()
    position relative    
    width auto

.popup__header
  background $popup__header-bg
  padding $popup__padding_v $popup__padding_h
  padding-bottom 0
  display flex
  flex-flow row nowrap
  border-radius 0
  flex-shrink 0

  +screen__wider_mobile()
    border-radius $popup__border-radius
    border-bottom-left-radius 0
    border-bottom-right-radius 0

.popup__title  
  line-height 1
  font-size $popup__title-font-size
  padding-bottom $popup__padding_v
  flex-grow 1
  
  &:empty  
    padding-bottom 0    

.popup__close
  flex-shrink 0
  padding-bottom $popup__padding_v

.popup__footer
  background $popup__footer-bg
  padding $popup__padding_v $popup__padding_h
  padding-top 0
  border-radius 0
  flex-shrink 0

  +screen__wider_mobile()
    border-radius $popup__border-radius
    border-top-left-radius 0
    border-top-right-radius 0    

.popup__footer
  display flex
  flex-flow row nowrap

.popup__status
  padding-top $popup__padding_v
  flex-grow 1
  
  &:empty
    padding-top 0

.popup__buttons
  padding-top $popup__padding_v
  flex-shrink 0  

.popup__title:empty + .popup__close
.popup_plain .popup__close

  +screen__wider_mobile()
    $radius = $screen__scrollbar-max-width + $root__font-size * 3
    $color = alpha(invert($popup__bg), 1)
    $bg = mix($popup__bg, transparent)

    display inline-flex
    float none
    position fixed
    color alpha($color, 75%)
    right 0
    top 0
    background $bg
    border none
    border-bottom-left-radius $radius
    z-index $popup__z-index
    padding $screen__scrollbar-max-width
    padding-left 2em
    padding-bottom 2em
    margin 0
    box-sizing content-box

    &:active, &:hover
      color $color

    &:focus
      input__focus(false, $bg)

.popup__content
  background $popup__content-bg
  position relative
  display block
  padding 0 $popup__padding_h
  box-sizing content-box
  overflow hidden auto
  flex-grow 1
  width auto

  +screen__wider_mobile()
    overflow hidden    
    min-height 1rem
    min-width 1rem
    max-width $popup__content-max-width
    flex-grow 0

.popup_top
  z-index $popup__z-index_top

.popup_align

  &_middle

    .popup__window
      margin auto

  &_client
    align-items stretch

    .popup__content
      overflow auto
      flex-grow 1
      position relative

.popup_plain

  +screen__wider_mobile()
    color $popup__text-color_plain

    .popup__header
    .popup__content
    .popup__footer  
      padding 0
      background transparent

.popup_width

  &_s

    .popup__content
      max-width $popup__content-max-width_s

  &_l

    .popup__content
      max-width $popup__content-max-width_l

  &_xl

    .popup__content
      max-width $popup__content-max-width_xl

.popup_spring
  justify-content stretch

  .popup__content
    max-width none

.popup_embed

  +screen__wider_mobile()
    display block
    position inherit
    background none
    padding 0
    z-index inherit

    .popup__window
      position inherit        

    .popup__content
      background none
      padding 0
      border-radius 0
      min-width auto
      max-width none

    .popup__header
      display none

    .popup__footer
      display none

.popup__show_embed

  +screen__wider_mobile()
    display none