//- @pugdoc
    name: popup
    options: 
        - {string} title
        - {string} titleHtml
        - {string} content
        - {string} contentHtml
        - {string} status
        - {string} statusHtml         
        - {string} align
        - {string} width
        - {bool} spring 
        - {bool} plain        
        - {bool} embed
        - {bool} loading
        - {bool} expanse
        - {object} buttons               
            - {string} confirmTitle
            - {string} confirmIcon
            - {string} cancelTitle 
            - {string} cancelIcon
            - {string} width
            - {string} size

- fastredRequire('arr', 'css', 'template', 'var')

- align = arrGetFound(['client', 'middle'], options.align, null)
- width = arrGetFound(['s', 'l', 'xl'], options.width, null)
- attributes.class = cssBemClassArr(attributes.class, {'popup_align_': align, 'popup_spring': options.spring, 'popup_plain': options.plain, 'popup_width_': width, 'popup_embed': options.embed, 'popup_loading': options.loading, 'popup_expanse': options.expanse})

.popup&attributes(attributes)
    != templateToHtml('spinner', null, 'popup__spinner')
    .popup__window        
        .popup__header
            .popup__title
                if varIsNotEmpty(options.titleHtml)
                    = options.titleHtml
                else
                    = options.title
            != templateToHtml('button', {icon: 'close', plain: true}, 'popup__close popup__hide')
        .popup__content
            if varIsNotEmpty(options.contentHtml)
                != options.contentHtml
            else
                = options.content
        .popup__footer
            .popup__status
                if varIsNotEmpty(options.statusHtml)
                    != options.statusHtml
                else
                    = options.status
            if options.buttons
                .popup__buttons!= templateToHtml('popup__buttons', options.buttons)
