@require color
@require input

$listview__bg                         ?= $input__bg

$listview__border-radius              ?= $input__border-radius
$listview__border-color               ?= $input__border-color
$listview__border-size                ?= $input__border-size