@require field
@require field-columns

.field-columns
  display flex
  flex-wrap wrap
  margin 0 (- $field-columns__gutter / 2)

.field-columns__item
  display block
  flex-grow 1
  padding 0 ($field-columns__gutter / 2)
  box-sizing border-box
  max-width 100%