@require color

$body__bg                   ?= $color_bg

$body__text-color           ?= $color_text

$body__padding_v            ?= 0
$body__padding_h            ?= 0

$body__header-height        ?= 0