@require 'font-icon/font-icon'

.font-icon
  display inline
  line-height 1
  position relative
  height 1em
  vertical-align middle

  &_valign

    &_baseline
      vertical-align baseline

    &_top
      vertical-align top

font-icon_id('arrow-down')
font-icon_id('arrow-left')
font-icon_id('arrow-right')
font-icon_id('arrow-up')
font-icon_id('close')
font-icon_id('tick')