@require input
@require item

$select__bg                   ?= $input__bg

$select__border-color         ?= $input__border-color
$select__border-radius        ?= $input__border-radius
$select__border-size          ?= $input__border-size

$select__font-size            ?= $input__font-size
$select__font-size_s          ?= $input__font-size_s
$select__font-size_l          ?= $input__font-size_l
$select__font-size_xl         ?= $input__font-size_xl

$select__text-color           ?= $input__text-color

$select__padding_h            ?= $input__padding_h
$select__padding_v            ?= $input__padding_v

$select__bg-color_selected    ?= $item__bg_selected
$select__text-color_selected  ?= $item__text-color_selected

$select__caret-bg             ?= $select__bg
$select__caret-size_h         ?= 1rem

