//- @pugdoc
    name: select
    options:
        - {any} data
        - {any} selectedValue

- fastredRequire('var')

if varIsHash(options.data)
    - title = options.data.title
    - value = options.data.value
else
    - title = options.data
    - value = options.data

option.select__item(value=value selected=(options.selectedValue!='' && options.selectedValue==value))= title