/* Abstract colors */

$color_main             ?= red
$color_main-pressed     ?= darken($color_main, 10%)
$color_marked           ?= red

/* Main colors */

$color_text             ?= black
$color_text-muted       ?= dimgray
$color_bg               ?= white 
$color_link             ?= #3498DB

/* Control colors */

$color_button           ?= gainsboro
$color_button-pressed   ?= darken($color_button, 10%)
$color_focus            ?= darken($color_button, 20%)
$color_input            ?= lighten($color_button, 25%)
$color_message          ?= antiquewhite
$color_panel            ?= #f1f1f1