//-@pugdoc
    name: breadcrumbs
    options:
        - {array} items
            - {string} title
            - {string} url

- fastredRequire('arr', 'var')

- itemCount = varIsArr(options.items) ? arrGetCount(options.items) : 0

if itemCount > 1
    ul.breadcrumbs&attributes(attributes)
        - counter = 0
        each item in options.items
            - counter++
            li.breadcrumbs__item
                if counter >= itemCount
                    = item.title
                else
                    a.breadcrumbs__link(href=item.url)
                        = item.title