@require item

.item
  item() 

  &_header
    display block
    background $item__bg_header
    color $item__text-color_header

    .item__cell.button
      border-top none    

    &:hover
      background $item__bg_header
    
    &:active
      background $item__bg_header

for key, value in $item__type_table

  .item_type_{value}
    item_type_table()

for key, value in $item__type_list

  .item_type_{value}
    item_type_list()

    &.item_header
      display none

for key, value in $item__type_grid

  .item_type_{value}
    item_type_grid()

    &.item_header
      display none      

.item__cell
  item__cell()

  &_spring
    item__cell_spring()

.item_selected

  .item__button
    
    &:active
      background $item__bg_selected-pressed

    .item__button
      text-align right
      padding-right 0

      for depth in (1..9)

        &_depth_{depth}
          width 1 + 2 * (depth - 1) rem
