//- @pugdoc
    name: item
    description: Item for listview or treeview
    options:
        - {string} value
        - {object} data        
        - {array} items
        - {bool} selected
        - {string} type
        - {bool} header
        - {integer} depth
        - {bool} expanded        

- fastredRequire('css', 'locale', 'template', 'var')

- attributes.class = cssBemClassArr(attributes.class, {'item_selected': options.selected, 'item_type_': options.type, 'item_header': options.header})
- contentTemplate = varIsNotEmpty(options.contentTemplate) ? options.contentTemplate : 'item__content'

.item&attributes(attributes)(data-value=options.value)

    if options.depth > 0
        .item__field.item__button(class='item__button_depth_' + options.depth)
            if varIsNotEmpty(options.data.items)
                != templateToHtml('font-icon', {id: 'arrow-down'})

    != templateToHtml(contentTemplate, options)
