//- @pugdoc
    name: item__content
    options:
        - {bool} header
        - {object} data

if options.header
    .item__cell= localeGetStr('header')
else
    .item__cell= options.data
