@require item

.item
  item()

  &_header
    display block
    background $item__bg_header
    color $item__text-color_header

for key, value in $item__type_table

  .item_type_{value}
    item_type_table()

for key, value in $item__type_list

  .item_type_{value}
    item_type_list()

    &.item_header
      display none

for key, value in $item__type_grid

  .item_type_{value}

    &.item_header
      display none      

.item__field
  item__cell()

  &_spring
    item__cell_spring()

.item__button

  text-align right

  &_depth

    &_1
      width 1rem

    &_2
      width 3rem

    &_3
      width 5rem

    &_4
      width 7rem
