//-
    name
    value
    type
    spring
    size
    cut
    readonly

- fastredRequire('arr', 'css')

- size = arrGetFound(['s', 'l', 'xl'], options.size)
- type = arrGetFound(['password'], options.type)
- attributes.class = cssBemClassArr(attributes.class, {'input_spring': options.spring, 'input_size_': size, 'input_cut_': options.cut})

input.input(value=options.value type=type name=options.name readonly=options.readonly)&attributes(attributes)