@require color
@require input

//$json = json('./treeview.json', {hash: true})

$treeview__bg                         ?= $input__bg

$treeview__border-radius              ?= $input__border-radius
$treeview__border-color               ?= $input__border-color
$treeview__border-size                ?= $input__border-size