//- @pugdoc
    name: treeview__item
    options:
        - {string} itemTemplate
        - {object} data
        - {number} depth

- fastredRequire('css', 'template', 'var') 

- data = varIsHash(options.data) ? options.data : {}
- attributes.class = cssBemClassArr(attributes.class, {'treeview__item_expanded': data.expanded})
- itemTemplate = varIsStr(options.itemTemplate) ? options.itemTemplate : 'item'

.treeview__item&attributes(attributes)
    != templateToHtml(itemTemplate, {data: data, type: 'list', depth: options.depth})
    if varIsNotEmpty(data.items)
        .treeview__group
            each item in data.items
                != templateToHtml('treeview__item', {itemTemplate: itemTemplate, data: item, depth: options.depth + 1})