@require color
@require field

$field-group__bg-color      ?= $color_panel

$field-group__margin        ?= $field__margin

$field-group__padding_v     ?= $field__margin
$field-group__padding_h     ?= $field__margin * 2

$field-group__border-color  ?= $field-group__bg-color
$field-group__border-size   ?= 0
$field-group__border-radius ?= .25rem