@require checkbox

$radio__bg-color        ?= $checkbox__bg
$radio__tick-color      ?= $checkbox__tick-color
$radio__size            ?= $checkbox__size
$radio__line-height     ?= $checkbox__line-height
$radio__font-size       ?= $checkbox__font-size