//- @pugdoc
    name: pagination
    options:
        - {object} pagination
        - {bool} showCount

- fastredRequire('arr', 'locale', 'obj', 'pgn', 'url', 'var')

- showCount = varExists(options.showCount) ? options.showCount : true
- map = pgnGetMaxCountMap(options.pagination)

.pagination&attributes(attributes)

    if arrGetCount(map) > 0
        
        - items = arr()
        each value, key in map
            - item = obj()
            - arrPush(items, item)
            - item.url = pageParamsToUrl(objGetMerged(options.pagination.params, {page: key}), options.pagination.anchor)
            - item.value = varIsEmpty(key) ? null : key
            if value
                - item.title = key + 1
            else
                - item.title = '...'

        != templateToHtml('button-group', {items: items, value: options.pagination.page}, 'pagination__nav')                

    if showCount && options.pagination.count
        - shownCount = pgnGetShownCount(options.pagination)
        span.pagination__count
            if shownCount != options.pagination.count
                = localeGetStr('found-1-shown-2', [options.pagination.count, shownCount])
            else
                = localeGetStr('found-1', [options.pagination.count])
            = crossVar
