$file-icon__bg              ?= white

$file-icon__width           ?= 0.75em
$file-icon__height          ?= 1em
$file-icon__corner-size     ?= 0.25em
$file-icon__corner-bg       ?= darken($file-icon__bg, 30%)

$file-icon__border-radius   ?= 0.075em
$file-icon__border-size     ?= 1px

$file-icon__text-color      ?= black