@require input

@require 'checkbox/checkbox' 

.checkbox
  user-select none
  display inline-flex
  font-size $checkbox__font-size
  line-height $checkbox__line-height
  outline none
  position relative
  min-height $checkbox__size
  min-width $checkbox__size

  &:focus .checkbox__label:before
    input__focus(false)

.checkbox__label
  cursor pointer
  display inline-block  
  outline none

.checkbox

  .checkbox__label:before
    content ''
    width $checkbox__size
    height $checkbox__size    
    background $checkbox__bg
    border-radius $checkbox__border-radius
    if $checkbox__border-size > 0
      border $checkbox__border-size solid $checkbox__border-color
    else
      border none    
    position absolute

.checkbox__input
  visibility hidden
  width 0
  height auto
  margin 0

  &:checked + .checkbox__label:after
    font-icon url('font-icon/images/tick.svg')
    position absolute
    left $checkbox__size * .2

.checkbox__title
  display inline-block
  margin-left $checkbox__size * 1.5