@require input

$checkbox__bg             ?= $input__bg
$checkbox__tick-color     ?= $input__text-color
$checkbox__size           ?= 1.5em
$checkbox__border-radius  ?= .25rem
$checkbox__line-height    ?= 1.5
$checkbox__font-size      ?= 1rem