@require color

$checkbox__bg             ?= $color_input
$checkbox__tick-color     ?= $color_muted
$checkbox__size           ?= 1em
$checkbox__border-radius  ?= .25rem
$checkbox__line-height    ?= 1.5
$checkbox__font-size      ?= 1rem