@require 'dropdown/dropdown'

.dropdown
  position relative
  display inline-flex
  align-items center
  cursor pointer

.dropdown__menu
  display none
  position absolute
  top 100%
  left 0
  z-index $dropdown__z-index
  background $dropdown__bg
  if $dropdown__border-size > 0
    border $dropdown__border-size solid $dropdown__border-color
  else
    border none
  border-radius $dropdown__border-radius
  cursor auto
  padding-top $dropdown__padding_v

.dropdown_bubble.dropdown_pressed
.dropdown_bubble.dropdown_hover:hover

  .dropdown__menu
    margin-left - $dropdown__bubble-offset
    margin-top $dropdown__bubble-offset    
    padding-top $dropdown__bubble-offset

  &:after
    content ' '
    position absolute
    background $dropdown__bg
    if $dropdown__border-size > 0
      border-left $dropdown__border-size solid $dropdown__border-color
      border-top $dropdown__border-size solid $dropdown__border-color      
    else
      border none
    width $dropdown__bubble-offset
    height $dropdown__bubble-offset
    z-index $dropdown__z-index + 1
    bottom - $dropdown__bubble-offset
    left 0    
    transform rotate(45deg)
    transform-origin left bottom

.dropdown_align_right

  .dropdown__menu
    right 0
    left auto

  &.dropdown_bubble

    .dropdown__menu
      margin-right - $dropdown__bubble-offset
      margin-left auto
    
    &:after
      right 0
      left auto

.dropdown_pressed

  & > .dropdown__menu
    display block

.dropdown_hover:hover

  & > .dropdown__menu
    display block