@require color
@require button
@require input
@require popup

$dropdown__bg-color           ?= $color_panel
$dropdown__bg                 ?= $dropdown__bg-color

$dropdown__border-color       ?= $dropdown__bg-color
$dropdown__border-radius      ?= $button__border-radius
$dropdown__border-size        ?= $input__border-size

$dropdown__padding_v          ?= .5rem
$dropdown__padding_h          ?= 0

$dropdown__bubble-position    = 20%
$dropdown__bubble-offset      = .75rem
$dropdown__z-index            = $popup__z-index - 1