@require color
@require button
@require input

$dropdown__bg-color           ?= $color_panel
$dropdown__bg                 ?= $dropdown__bg-color

$dropdown__border-color       ?= $dropdown__bg-color
$dropdown__border-radius      ?= $button__border-radius
$dropdown__border-size        ?= $input__border-size

$dropdown__padding_v          ?= .5rem
$dropdown__padding_h          ?= 0