@require color

$toolbar__bg-color      ?= $color_panel
$toolbar__display       ?= flex
$toolbar__gutter        ?= 1rem

$toolbar__border-color  ?= $toolbar__bg-color
$toolbar__border-size   ?= 0
$toolbar__border-radius ?= .25rem
