@require color
@require input

$slider__bg                 = $input__bg

$slider__border-radius      = $input__border-radius
$slider__border-size        = $input__border-size
$slider__border-color       = $input__border-color

$slider__handle-size        = 1.5rem
$slider__size               = .75rem

$slider__selection-color    = $color_main