@require color
@require textarea

$json = json('./code-editor.json', {hash: true})

$code-editor__border-color       ?= $textarea__border-color
$code-editor__border-radius      ?= $textarea__border-radius
$code-editor__border-size        ?= $textarea__border-size
$code-editor__bg                 ?= $textarea__bg
$code-editor__text-color         ?= $textarea__text-color
$code-editor__font-size          ?= $json.code-editor__font-size
$code-editor__padding_h          ?= $json.code-editor__padding_h
$code-editor__padding_v          ?= $textarea__padding_v
$code-editor__color-selection    ?= $color_muted
$code-editor__line-height        ?= $code-editor__font-size + 3px
$code-editor__line-count_min     ?= $json.code-editor__line-count_min