//- @pugdoc
    name: button-group
    options:
        - {array} items
        - {string} size
        - {bool} disabled
        - {bool} plain
        - {string} toggle
        - {string} name
        - {string} value

- fastredRequire('arr', 'var')

- name = options.name

if varIsEmpty(name) && options.toggle == 'radio'
    - fastredRequire('int')
    - name = 'button-group_' + intCounter()

.button-group&attributes(attributes)
    - end = arrGetCount(options.items)
    - end = end - 1

    each item, index in options.items
        case index
            when 0
                - cut = 'right'
            when end
                - cut = 'left'
            default
                - cut = 'both'

        if varIsHash(item)
            - title = item.title
            - value = item.value
        else
            - title = item
            - value = item

        != templateToHtml('button', {title: title, icon: item.icon, url: item.url, size: options.size, plain: options.plain, toggle: options.toggle, value: value, cut: cut, name: name, checked: value == options.value, disabled: options.disabled}, 'button-group__item')
