.steady-image
  display block
  position relative

  &_responsive
    max-width 100%

.steady-image__placeholder
  display block

.steady-image__image
  display block
  position absolute
  left 0
  top 0
  max-width 100%
  height auto 